@page
@model IndexModel
@{
    Layout = "";
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/game.css" asp-append-version="true" />
</head>
<body>
    

    <login-panel id="loginPanel" username="test"></login-panel>
    <lobby-panel id="lobbyPanel"></lobby-panel>
    <question-panel id="questionPanel"></question-panel>
    <round-result-panel id="roundFinishedPanel"></round-result-panel>
    <scores-panel id="scorePanel"></scores-panel>

    <script type="module" src="~/js/game.js" type="text/javascript"></script>
</body>
</html>